In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from os import listdir

# Set the path for data file
DATA_PATH: str = "data/2ch/"

# read files
dump = pd.read_csv(DATA_PATH + "dump_data.csv")
uriage = pd.read_csv(DATA_PATH + "uriage.csv")
kokyaku = pd.read_excel(DATA_PATH + "kokyaku_daicho.xlsx")

In [2]:
dump.head()

,purchase_date,purchase_month,item_name,item_price,고객이름,지역,등록일
0,2019-06-13 18:02:00,201906,상품A,100.0,김가온,C시,2017-01-26 00:00:00
1,2019-07-13 13:05:00,201907,상품S,1900.0,김우찬,C시,2018-04-07 00:00:00
2,2019-05-11 19:42:00,201905,상품A,100.0,김유찬,A시,2018-06-19 00:00:00
3,2019-02-12 23:40:00,201902,상품Z,2600.0,김재현,D시,2018-07-22 00:00:00
4,2019-04-22 03:09:00,201904,상품A,100.0,김강현,D시,2017-06-07 00:00:00

In [3]:
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [4]:
kokyaku.head()

   고객이름  지역                  등록일
0  김 현성  H시  2018-01-04 00:00:00
1  김 도윤  E시                42782
2  김 지한  A시  2018-01-07 00:00:00
3  김 하윤  F시                42872
4  김 시온  E시                43127

In [5]:
uriage["purchase_date"] = pd.to_datetime(uriage["purchase_date"])
uriage["purchase_month"] = uriage["purchase_date"].dt.strftime("%Y%m")
pt = uriage.pivot_table(index="purchase_month", columns="item_name", aggfunc="size", fill_value=0)
print(pt.shape)

(7, 99)

In [6]:
dump["item_name"].unique()

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

In [7]:
uriage["item_name"].unique()

array(['상품A', '상 품 S', '상 품 a', '상품Z', '상품a', '상품S', '상품 a', '상품V', '상품O',
       '상 품U', '상품L', '상  품V', '상 품O', '상품C', '상품I', '상품r', '상품X', '상품 g',
       '상품R', '상품P', '상품Q', '상품y', '상품 A', '상품N', '상품W', '상 품E', '상품K',
       '상품B', '상품F', '상 품s', ' 상품W', ' 상 품 n', '상 품F', '상품D', '상품M',
       '상품Y', '상품U', '상품H', '상품T', '상품J', '상  품O', '상품E', '상  품Q',
       ' 상품 S', ' 상품 M', '상  품T', '상품G', '상 품G', ' 상품 P', ' 상품 E', '상 품N',
       '상 품Y', '상품 J', '상품 V', '상품 K', '상 품V', '상 품D', '상 품A', '상품 F',
       '상품 H', '상 품K', '상 품T', '상품 X', '상품 Q', '상 품X', '상 품H', '상 품C',
       '상품 B', '상품 O', '상품 T', '상품v', '상품p', '상품i', '상품 w', '상 품 s',
       '상 품 q', '상품s', '상품l', '상품t', '상품k', '상품g', '상품o', '상품 R', '상품 S',
       '상 품M', '상품j', '상품d', '상품 I', '상품 E', '상품 o', '상품c', '상품 v', '상품e',
       '상품x', '상 품I', ' 상품 W', ' 상품 X', '상품 M', '상 품P'], dtype=object)

In [8]:
uriage["item_name"] = uriage["item_name"].str.replace(" ", "").str.upper()
uriage["item_name"].unique()

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

In [9]:
uriage.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [10]:
for name in list(uriage["item_name"].unique()):
    price:float = uriage.loc[uriage["item_name"] == name, "item_price"].max()
    uriage.loc[uriage["item_price"].isnull() & (uriage["item_name"] == name), "item_price"] = price

uriage

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:00       상품A       100.0           김가온         201906
1    2019-07-13 13:05:00       상품S      1900.0           김우찬         201907
2    2019-05-11 19:42:00       상품A       100.0           김유찬         201905
3    2019-02-12 23:40:00       상품Z      2600.0           김재현         201902
4    2019-04-22 03:09:00       상품A       100.0           김강현         201904
...                  ...       ...         ...           ...            ...
2994 2019-02-15 02:56:00       상품Y      2500.0           김정민         201902
2995 2019-06-22 04:03:00       상품M      1300.0           김재원         201906
2996 2019-03-29 11:14:00       상품Q      1700.0           김지율         201903
2997 2019-07-14 12:56:00       상품H       800.0           김승주         201907
2998 2019-07-21 00:31:00       상품D       400.0           정준기         201907

[2999 rows x 5 columns]

In [11]:
uriage

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:00       상품A       100.0           김가온         201906
1    2019-07-13 13:05:00       상품S      1900.0           김우찬         201907
2    2019-05-11 19:42:00       상품A       100.0           김유찬         201905
3    2019-02-12 23:40:00       상품Z      2600.0           김재현         201902
4    2019-04-22 03:09:00       상품A       100.0           김강현         201904
...                  ...       ...         ...           ...            ...
2994 2019-02-15 02:56:00       상품Y      2500.0           김정민         201902
2995 2019-06-22 04:03:00       상품M      1300.0           김재원         201906
2996 2019-03-29 11:14:00       상품Q      1700.0           김지율         201903
2997 2019-07-14 12:56:00       상품H       800.0           김승주         201907
2998 2019-07-21 00:31:00       상품D       400.0           정준기         201907

[2999 rows x 5 columns]

In [12]:
uriage.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [13]:
kokyaku["고객이름"].unique()

array(['김 현성', '김 도윤', '김 지한', '김 하윤', '김 시온', '김 예성', '김 하람', '김 호준',
       '김 지완', '김 주호', '김 재원', '김 승민', '김 준형', '김 동건', '김 준서', '김 수혁',
       '김 진우', '김 윤호', '김 윤서', '김 준희', '김 윤우', '김 동우', '김 성빈', '김 태준',
       '김 태경', '김 승후', '김 현우', '김 서준', '김 주원', '김 태인', '김 승준', '김 윤재',
       '김 수민', '김 승훈', '김 하준', '김 하율', '김 우찬', '김 준성', '김 준혁', '김 승찬',
       '김 현승', '김 지운', '김 성민', '김 지호', '김 우준', '김 승빈', '김 재민', '김 태민',
       '김 주혁', '김 정원', '김 하랑', '김 지우', '김 예준', '김 주영', '김 민석', '김 유빈',
       '김 시훈', '김 동현', '김 라온', '김 은우', '김 민재', '김 준후', '김 현서', '김 서후',
       '김 재현', '김 유준', '김 찬우', '김 도현', '김 상민', '김 재영', '김 하진', '김 범준',
       '김 우진', '김 지훈', '김 시윤', '김 강민', '김 지성', '김 윤찬', '김 민호', '김 윤성',
       '김 지후', '김 현진', '김 태양', '김 대현', '김 재준', '김 민건', '김 도경', '김 지민',
       '김 은호', '김 민혁', '김 민찬', '김 승원', '김 정현', '김 승유', '김 세현', '김 승윤',
       '김 이준', '김 경민', '김 정훈', '김 성우', '김 은율', '김 도훈', '김 태현', '김 주안',
       '김 동욱', '김 재훈', '김 도율', '김 예찬', '김 태훈', '김 준석', '김 원준', '김 민준',
       '김 은찬', '김 영준', '김 주한', '김 현수', '김 건희', '김 규민', '김 재혁', '김 승재',
       '김 정후', '김 성현', '정 영훈', '김 민우', '김 주환', '김 준호', '김 준우', '김 시율',
       '김 도하', '김 규현', '김 주현', '김 정민', '김 건우', '정 도형', '김 연준', '김 강현',
       '김 태우', '김 지율', '김 지용', '김 지오', '김 수호', '김 가온', '김 유찬', '김 상현',
       '김 시완', '김 도원', '김 시우', '김 은성', '김 성윤', '김 우빈', '김 준수', '김 연호',
       '정 우석', '김 민규', '김 태영', '김 은혁', '김 준영', '김 지환', '김 서진', '김 서윤',
       '김 하민', '김 현준', '김 승현', '김 우영', '김 재윤', '김 한결', '김 우주', '김 지혁',
       '김 민서', '김 찬영', '김 시환', '김 수현', '김 서율', '정 준기', '김 성훈', '김 시호',
       '김 재호', '김 재우', '김 동하', '김 우현', '김 민기', '김 승환', '김 다온', '김 승우',
       '김 성준', '김 승호', '김 승주', '김 태윤', '김 민수', '김 현민', '김 유진', '김 지안',
       '김 현석', '김 선우', '김 지원', '김 재희', '김 도영', '김 이안', '김 시현', '김 서우'],
      dtype=object)

In [14]:
uriage["customer_name"].unique()
print(uriage["customer_name"].unique().size)

199

In [15]:
kokyaku["고객이름"] = kokyaku["고객이름"].str.replace(" ", "")

In [16]:
kokyaku["고객이름"].unique()
print(kokyaku["고객이름"].unique().size)

200

In [17]:
kokyaku.loc[kokyaku["등록일"].astype("str").str.isdigit(), "등록일"]

1      42782
3      42872
4      43127
21     42920
27     42901
47     42741
49     42929
53     42833
76     43188
80     43110
99     42885
114    43254
118    43129
122    43206
139    42880
143    42818
155    42754
172    43181
179    42743
183    42940
186    43294
192    43259
Name: 등록일, dtype: object

In [29]:
kokyaku.loc[kokyaku["등록일"].astype("str").str.isdigit(), "등록일"]

Series([], Name: 등록일, dtype: datetime64[ns])

In [24]:
kokyaku

    고객이름  지역        등록일
0    김현성  H시        NaT
1    김도윤  E시 2017-02-18
2    김지한  A시        NaT
3    김하윤  F시 2017-05-19
4    김시온  E시 2018-01-29
..   ...  ..        ...
195  김재희  G시        NaT
196  김도영  E시        NaT
197  김이안  F시        NaT
198  김시현  H시        NaT
199  김서우  D시        NaT

[200 rows x 3 columns]

In [ ]:
kokyaku["reg_month"] = pd.to_datetime(kokyaku["등록일"]).dt.strftime("%Y%m")

In [ ]:
kokyaku

In [ ]:
kokyaku.isnull().any(axis=0)

In [ ]:
kokyaku.groupby("reg_month").count()["고객이름"]

In [ ]:
print(uriage.columns)
print(kokyaku.columns)

In [ ]:
new_table = pd.merge(uriage, kokyaku, left_on="customer_name", right_on="고객이름", how="left")
new_table.drop("고객이름", axis=1, inplace=True)

In [ ]:
new_table

In [ ]:
data = new_table[["purchase_date", "purchase_month", "item_name", "item_price", "customer_name", "reg_month", "지역"]]

In [ ]:
data

In [ ]:
data.isnull().any(axis=0)